/* CSS Document */


body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote{
	margin:0px;
	padding:0px;}
 


@font-face {
  font-family: "myfont";
  src: url(../font/fangzheng.TTF);
}

 body{
 font-family: "myfont",Verdana, Arial, sans-serif;
 height: auto;
   background-color:#131313;
 }

a{
  text-decoration: none;
}
.clear{
  clear: both;
}


/*header*/

.header_lsit{
  margin: 0 auto;
  width: 100%;
  height: 80px;
  background-color: #8c26eb;
  padding-top: 20px;
}

.logo{
  width: 89px;
  height: 65px;
  float: left;
  margin-left: 20px;
}


.menu{
  float:right;
  margin-right: 20px;
}


.menu ul>li{
  list-style-type: none;
  display: inline-block;
  width: 150;
  height: 65px;
  line-height: 65px;
  margin-right: 65px;
}

.menu ul>li a{
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.menu ul>li a:hover{
  border-bottom: 2px solid #fff;
}
.top_btn {
  float: right;
  margin-right: 10px;
}

.top_btn a{
  display: block;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  float: left;
}


.login{
  width: 98px;
  height: 48px;
  border: 1px solid #fff;
  color: #fff;
  margin-top: 7px;
  margin-right: 10px;
  border-radius: 6px;
}


.regit{
  width: 100px;
  height: 50px;
  background-color: #fff;
  color: #8c26eb;
  margin-right: 20px;
  margin-top: 7px;
  border-radius: 6px;
}
















.footer {
  width: 1200px;
  height: 330px;
  margin: 0 auto;
}

.f_copyright {
  width: 100%;
  text-align: center;
  height: 74px;
  line-height: 74px;
  border-top:1px solid #353535;
  color: #9e9e9e;
}

.f_copyright span{
  padding-left: 20px;
  background: url(../images/jingwei.png) left center no-repeat;
}


.f_link {
  float: left;
  width: 200px;
  height: 20px;
  margin-top: 80px;
  color: #fff;
}

.f_link p{
  width: 200px;
  font-size: 22px;
  font-size: bold;  
  margin-bottom: 30px;
}

.sub_nav{
  float: left;
}

.sub_nav li{
  list-style: none;
  padding: 10px 0;
}

.sub_nav li a{
  color: #fff;
}
.f_logo {
  float: left;
  width: 157px;
  height: 171px;
  margin-top: 60px;
  margin-right: 130px;
}

.first_link{
  margin-left: 130px;
}

.shejiao{
  float: right;
  margin-top: 80px;
  width: 126px;
  margin-right: 100px;
}




.wx,.wb{
  display: block;
  float: left;
  width: 29px;
  height: 29px;
  margin-left: 10px;
}




.wx p,.wb p{
  width: 126px;
  height: 140px;
  display: none;
  position: relative;
  left: -50px;
  top: -5px;
}




/*音乐列表*/

.music_list_cnt {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #131313;
}
.music_list {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  background-color: #131313;
  margin-top: 20px;
}


.music_List_left{
  float: left;
  width: 268px;
  min-height: 680px;
  background-color: #1b1b1b;
  
}


.list_search{
  width: 268px;
  height: 60px;
}

.list_search input{
  outline: none;
  border: none;
  width: 240px;
  height: 40px;
  text-indent: 40px;
  background: #fff url(../images/search01.png) 10px center no-repeat;
  color: #2A2A2A;
  font-size: 14px;
}
